<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1"
        xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <header>
    <identifier id="com.hmhs.underpinning.uc.ucd_email_plugin" version="@API_VERSION@" name="Email Team"/>
    <description>Email Team Plugin for UC Build and Deploy</description>
    <tag>Utilities/Email Team Plugin</tag>
  </header>

  <step-type name="Send Email to Team">
    <description>Run a process to email members of the team assigned to the component or application</description>
    <properties>
      <property name="emailSubject" required="true">
        <property-ui type="textBox"
                     label="Subject"
                     description="Email Subject"/>
      </property>
      <property name="emailBody" required="true">
        <property-ui type="textAreaBox"
                     label="Body"
                     description="Email Body"/>
      </property>
      <property name="attachment" required="false">
        <property-ui type="textBox"
                     label="Attachment"
                     description="Location of attachment to include in the email"/>
      </property>
      <property name="roles" required="false">
        <property-ui type="textBox"
                     label="Roles"
                     description="Comma separated List of Roles to send email to"/>
      </property>
      <property name="projectId" required="true">
        <property-ui type="textBox"
          label="Project ID"
          default-value="${p:project/id}"
          description="UC Build Project ID associated with the team"/>
      </property>
      <property name="processId" required="true">
        <property-ui type="textBox"
          label="Process ID"
          default-value="${p:process/id}"
          description="UC Build Process ID associated with the team"/>
      </property>
      <property name="ucdUrl" required="true">
        <property-ui type="textBox"
          label="UC Build URL"
          default-value="${p:UCBuildURL}"
          description="URL of UC Build"/>
      </property>
      <property name="ucdUserName" required="true">
        <property-ui type="textBox"
          label="UC Build User Name"
          default-value="${p:UCBuildUserName}"
          description="UC Build User Name"/>
      </property>
      <property name="ucdPassword" required="true">
        <property-ui type="secureBox"
          label="UC Build Password"
          default-value="${p:UCBuildPassword}"
          description="UC Build Password" />
      </property>
      <property name="msHost" required="true">
        <property-ui type="textBox"
          label="Mail Server Host"
          description="Mail server to use for email"/>
      </property>
      <property name="msPort" required="true">
        <property-ui type="textBox"
          label="Mail Server Port"
          default-value="25"
          description="Mail server port to use for email"/>
      </property>
      <property name="msSecure">
        <property-ui type="checkBox"
          label="Secure"
          default-value="false"
          description="Secure Mail Server?"/>
      </property>
      <property name="msFrom" required="true">
        <property-ui type="textBox"
          label="From Email Address"
          description="From Email Address"/>
      </property>
      <property name="msUser" required="false">
        <property-ui type="textBox"
          label="Mail Server User"
          description="Mail server user"/>
      </property>
      <property name="msPass" required="false">
        <property-ui type="secureBox"
          label="Mail Server Password"
          description="Mail server password"/>
      </property>
      <property name="getTeamBy" required="true">
        <property-ui type="selectBox"
                     label="Obtain Team By:"
                     description="How to obtain the team, by application or by component"/>
        <value label="By Application">byApp</value>
        <value label="By Component">byComp</value>
        <value label="UC Build">byUCB</value>
      </property>
    </properties>
    <post-processing>
      <![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]>
    </post-processing>

    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/activation-1.1.jar;lib/groovy-all-2.4.12.jar;lib/groovy-plugin-utils-1.0.jar;lib/gson-2.3.1.jar;lib/mail-1.4.1.jar;lib/uDeployRestClient-1.0.jar"/>
      <arg file="classes/emailTeam.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
